.header{
  text-align: center;
  background-color: rgb(85, 10, 155);
  color:aliceblue;
  font-size:x-large;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 6px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.card{
  box-shadow: 0px 0px 10px 1px
}

.input{
  margin: 20px;
  margin-left: 0px;
}

.submit{
  margin-left:500px;
}

.form{
  margin-left: 150px;

}